.search {
  text-align: center;
  margin-top: 20px;
}

#currentTemperature div {
  display: inline-block;
}

#degree {
  position: absolute;
  top: 50px;
}

.hidden {
  display : none;
}

.unhidden {

}

.toggle {
  position: absolute;
  left: 1240px;
  top: 18px;
  font-size: 30px;
}

.address {
    height: 30px;
    width: 200px;
}

.temperature {
  font-size: 100px;
}

#icon {
  font-size: 50px;
}

.daily {
  top: 240px;
  left: 0px;
}

.daily div{
  margin-top: 27px;
  text-align: center;
}

.hourly {
  margin-top: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 1425px;
  height: 110px;
}

.hour {
  display: inline-block;
  padding-left: 62px;
}

.degree {
  font-size: 40px;
}

.container {
  display: flex;
}

.card-body {
  margin-right: 50px;
}

.celsius {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  outline: inherit;
}

.celsius:focus {
  outline: none;
}

.fahrenheit {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  outline: inherit;
}

.fahrenheit:focus {
  outline: none;
}
